wheel
av
blinker
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
ctranslate2
faster-whisper
filelock
Flask
flatbuffers
fsspec
gevent
gevent-websocket
greenlet
huggingface-hub
humanfriendly
idna
itsdangerous
Jinja2
MarkupSafe
mpmath
numpy
onnxruntime
packaging
protobuf
pycparser
pyreadline3
PyYAML
requests
sympy
tokenizers
tqdm
typing_extensions
urllib3
Werkzeug
zope.event
zope.interface
python-dotenv
